
/*styles for my resume*/

h1,h2,h3,h4,h5,h6, p, li {
color: #444;
font-size: 1 em;
font-family: Open sans-serif;}

body{
font-weight: 400;
}
/*banner name*/
h1{
font-size: 3 em;
color: blue;
text-align: center;
text-transform: uppercase;
}

h2{
font-size: 3 em;

#journalist{font-size: 1.5 em;
color: blue;
text-transform: uppercase;
background-color: white;}
/*Creating background color for section headers*/
h2 {background-color: blue;
  color:white;
font-size: 1.5 em;
text-transform: uppercase}

.jobtitle {font-weight:600;
  font-size: 1.5 em;}

#name{
border-bottom: 10 px;
border-color: #33485e;
border-style: solid;
margin: 0 auto;
width: 60%;
min-width: 300 px;
}

.sectionheader{
margin-bottom: 10 px;
margin-top: 20 px;
margin-left: 0 px;
margin-right: 0 px;
width: 70%;
min-width: 300 px;
}

.organization{
  font-size: 1.25 em;
}

.date {
  font-style:italic;
  margin-top: 2 px;
  margin-bottom: 0 px;
  margin-left: 0 px;
  margin-right: 0 px;
}
.description {
  margin-top: 10 px;
  margin-bottom: 10 px;
  margin-left: 0 px;
  margin-right: 0 px;



}
