p {
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
}

h2 {
font-family: Georgia,serif;
font-style: bold;
font-style: italic;
font-size: 24px;
}
#pullquote{
color: maroon;
font-size: 18px;
font-style: bold;
border: black;
border-width: 1px;
border-style: ridge;
/*Creating a border to help the quote stand out*/
}
#picture{
align-self: center;
}
